.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  width: 70%;
  margin-inline: auto;
  gap: 2rem;
}

.navbarHeader {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--black);
}

.navbarItem {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
}

.navbarItem > * {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: var(--black);
  animation-name: show;
  animation-duration: 0.4s;
  color: var(--black);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(5px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 1000px) {
  .navbarItem {
    gap: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .navbarItem {
    display: none;
  }
  .container {
    justify-content: center;
  }
}
