.container {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-inline: auto;
  padding: 2rem;
  max-width: 1100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--black);
}

.header h2 {
  font-size: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: var(--gray-2);
  flex-wrap: wrap;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--gray-2);
}

.active,
.active svg {
  color: var(--black);
}

.button svg {
  font-size: 1.4rem;
}

.content,
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 4px 8px 24px var(--boxShadow);
  padding: 2rem;
  width: 620px;
  border-radius: 30px;
  transition: visibility 0.5s, opacity 0.5s, transform 1s;
  animation-name: show;
  animation-duration: 1s;
  color: var(--black);
  animation-timing-function: linear;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.content h2,
.contents h2 {
  margin-bottom: 1rem;
}

.skillContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  column-gap: 2rem;
}

.skill {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  grid-template-columns: auto 1fr;
  gap: 0.8rem;
}

.skill svg {
  margin-top: 4px;
  font-size: 1.8rem;
}

.skillInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skillInfo p {
  font-size: 0.8rem;
  color: var(--gray-3);
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 90%;
  }
  .content,
  .contents {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .skillContainer,
  .content,
  .contents {
    padding: 1rem;
    gap: 0.5rem;
  }

  .contents h2,
  .content h2 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
  }

  .skill svg {
    font-size: 1.2rem;
  }

  .skill h3 {
    font-size: 1rem;
  }
}
