.container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 28px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 100;
  background-color: rgb(125, 125, 125, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.2);
}

.container > * {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  margin-block: 19px;
}

.container svg.active {
  color: white;
  background-color: black;
  border-radius: 100px;
  margin-block: 16px;
  font-size: 2rem;
  padding: 4px;
}
