.container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 28px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 100;
  background-color: var(--125-01);
  backdrop-filter: blur(5px);
  box-shadow: 4px 8px 24px var(--black-03);
  transition: all 0.3s;
  animation-name: show;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.container > * {
  font-size: 25px;
  color: var(--black-08);
  cursor: pointer;
  margin-block: 19px;
}

.container svg.active {
  color: var(--white);
  background-color: var(--black);
  border-radius: 100px;
  margin-block: 16px;
  font-size: 2rem;
  padding: 4px;
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px), translateX(-50%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px), translateX(-50%);
  }
}
