.container {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-inline: auto;
  padding: 2rem;
  max-width: 1100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header h2 {
  font-size: 40px;
}

.contentContainer {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.contentItem {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 4px 8px 24px var(--boxShadow);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  max-width: 350px;
}

.contentItem svg {
  font-size: 4rem;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.button svg {
  font-size: 1.7rem;
  transition: All 0.5s;
}

.button:hover svg {
  transform: translateX(10px);
}

@media only screen and (max-width: 920px) {
  .contentItem {
    border-radius: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding-inline: 0;
  }
}
