.container {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-inline: auto;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header h2 {
  font-size: 40px;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 1rem;
}

.contentItem {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 4px 8px 24px rgba(74, 58, 255, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  max-width: 350px;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.button svg {
  font-size: 1.7rem;
}
