* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --background-white: #ebebeb;
  --white: white;
  --gray: #6a6a6a;
  --gray-2: #626262;
  --gray-3: #646464;
}
