.container {
  background: var(--background-white);
  min-width: 100vw;
  min-height: 100vh;
}

.container > * {
  position: relative;
  z-index: 10;
}

.background {
  background-image: url('../public/Assets/cloud.png');
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  /* opacity: 0.5; */
}

.rocket {
  position: fixed;
  top: 5%;
  right: 0;
  transform: rotateX(180deg);
}

.rocket img {
  height: auto;
  width: 75px;
}

@media only screen and (max-width: 500px) {
  .rocket {
    display: none;
  }
}
