.container {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-inline: auto;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--black);
}

.header h2 {
  font-size: 40px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.contentContainer > p {
  text-align: justify;
  margin-top: 1rem;
  color: var(--black);
}

.contentItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.contentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem 2.5rem;
  box-shadow: 4px 8px 24px var(--boxShadow);
  border-radius: 30px;
  color: var(--black);
}

.contentItem h3 {
  font-size: 1.2rem;
  color: var(--black);
}

.contentItem svg {
  font-size: 3rem;
  color: var(--black);
}

.image img {
  width: 333px;
  height: 333px;
  border-radius: 20px;
  object-fit: cover;
  z-index: 10;
  position: relative;
  transform: rotate(10deg);
}

.image {
  position: relative;
}

.image div {
  width: 333px;
  height: 333px;
  border-radius: 20px;
  background-color: var(--black-03);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--black);
  padding: 0.7rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
  border: 1px solid var(--black);
}

.button p,
.button svg {
  color: var(--white);
  transition: all 0.4s;
}

.button svg {
  font-size: 1.3rem;
}

.button:hover p,
.button:hover svg {
  color: var(--black);
}

.button:hover {
  background-color: transparent;
}
